.custom-container {
width: 100%;
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
overflow:hidden;
} 

.titleText {
font-size: 50px;
color: lightgrey;
letter-spacing: 2px;
}

.bodyText {
font-size: 28px;
color: lightgrey;
line-height: 40px;
letter-spacing: 1.3px;
}

.button-50 {
appearance: button;
background-color: darkred;
background-image: none;
border: 1px solid #000;
border-radius: 4px;
box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
box-sizing: border-box;
color: gainsboro;
cursor: pointer;
display: inline-block;
font-size: 24px;
font-weight: 400;
line-height: 20px;
margin: 0 5px 10px 0;
width: 100%;
overflow: visible;
padding: 12px 40px;
text-align: center;
text-transform: none;
touch-action: manipulation;
user-select: none;
-webkit-user-select: none;
vertical-align: middle;
white-space: nowrap;
outline: none;
}

.button-502 {
  appearance: button;
  background-color: black;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: gainsboro;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  width: 100%;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: grayscale(1);
}

.button-50:focus {
text-decoration: none;
}

.button-50:hover {
    color: powderblue;
text-decoration: none;
}

.button-50:active {
box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
outline: 0;
}

.button-50:not([disabled]):active {
box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
transform: translate(2px, 2px);
}

.fade {
  position: relative;
  isolation: isolate;
  opacity: 0.2
}

.fade:after {
  content: '';
  position: absolute;
  inset:0;
  background:black;
  opacity:0;
}

.mail {
  width: 40%;
}

.all-buttons {
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    color: white;
    font-size: 28px;
    padding: 4px 20px;
    height: 47px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    box-shadow: -3px 3px 5px black;
    margin: 10px;
    border-radius: 3px;
    flex-grow: 1;
    background:rgba(49, 49, 49, 0.842);
}

.valid {
    border-bottom: 3px solid green !important;
    border-left: 3px solid green !important;
}

.invalid {
    border-bottom: 3px solid red !important;
    border-left: 3px solid red !important;
}

.show {
    visibility: visible !important;
}

.mobile-show {
    display: block !important;
}

.form-row {
  flex-direction: row;
  display: flex;
}

.form-panel {
  background-color: none;
}

.small-text {
  font-size: 23px;
}

.bar {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.loading {
  width:30%;
}

//slides from the bottom
@-webkit-keyframes slideInBottom {
  0% {
    transform: translateY(900px);
  }
  100% {
    transform: translateY(0);
  }
}
  
@-moz-keyframes slideInBottom {
  0% {
    transform: translateY(900px);
  }
  100% {
    transform: translateY(0);
  }
}
  
@keyframes slideInBottom {
  0% {
    transform: translateY(900px);
  }
  100% {
    transform: translateY(0);
  }
}
  
//slides from the right
@-webkit-keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
  
@-moz-keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
  
@keyframes slideInRight {
  0% {
    transform: translateX(900px);
  }
  100% {
    transform: translateX(0);
  }
}
  
//slides from the left
@-webkit-keyframes slideInLeft {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
  
@-moz-keyframes slideInLeft {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
  
@keyframes slideInLeft {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
  
//fades in
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
  
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.sent {
  -webkit-animation: fadeIn 5s forwards;
  -moz-animation: fadeIn 5s forwards;
  animation: fadeIn 5s forwards;
}

.message {
  -webkit-animation: fadeIn 5s forwards, slideInLeft 2s forwards;
  -moz-animation: fadeIn 5s forwards, slideInLeft 2s forwards;
  animation: fadeIn 5s forwards, slideInLeft 2s forwards;
}

.inputs{
  -webkit-animation: fadeIn 5s forwards, slideInRight 2s forwards;
  -moz-animation: fadeIn 5s forwards, slideInRight 2s forwards;
  animation: fadeIn 5s forwards, slideInRight 2s forwards;
}
  
@media (min-width: 576px) {
  .custom-container {
    width: 540px;
  }
}
  
@media (min-width: 768px) {
  .custom-container {
    width: 800px;
  }

  .button-50, .button-502 {
    width: 150px;
  }

  .mobile-show {
    display: none !important;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 25px;
    height: 40px;
  }

  .big-text {
    font-size: 21px;
  }

  .all-buttons {
    width: auto;
  }

  .loading {
    width:120px;
  }

  form {
    margin:auto;
    width: 500px;
  }
}
  
@media (min-width: 992px) {
  .custom-container {
    width: 960px;
  }
}
  
@media (min-width: 1200px) {
  .custom-container {
    width: 1140px;
  }
}
  
  
@media (min-width: 1700px) {
  
  .custom-container {
    width: 1600px;
  }

  .titleText {
    font-size: 70px;
    color: lightgrey;
    letter-spacing: 2px;
  }

  .bodyText {
    font-size: 39px;
    color: lightgrey;
    line-height: 40px;
    letter-spacing: 1.3px;
  }

  .button-50, .button-502 {
    font-size: 30px;
    width: 175px;
    padding: 12px 40px;
  }

  .big-text {
    font-size: 28px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 30px;
    font-size: 30px;
    padding: 7px 20px;
    height: 45px;
  }

  form {
    width: 550px;
  }
  
}