@import "src/variables.scss";
@import 'include-media';

.project-title {
  font-size: 2.2rem;
  font-weight: bold;
  // text-align: center;
  margin-bottom: 20px;

  &:before {
    display: inline-block;
    content: '';
    height: 26px;
    width: 6px;
    background-color: orange;
  }

  button {
    float: right;
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: bold;
  }
}

.techused {
  // text-align: center;
  font-size: 1.1rem;
}

.technologies {
  display: flex;
  margin-bottom: 40px;
  // justify-content: center;

  img {
    width: 40px;
    object-fit: cover;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
}

.project-description,
.project-learned {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Rubik, sans-serif;
  letter-spacing: 0.3px;
  line-height: 1.8rem;
  font-size: 1.3rem;
  margin-bottom: 40px;

  span {
    letter-spacing: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.project-preview {
  margin-bottom: 40px;

  img {
    width: 700px;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.338);
    border-radius: 20px;
  }
}

.conclusion {
  font-family: Rubik, sans-serif;
  letter-spacing: 0.3px;
  font-size: 1.3rem;
}

.logo {
  position: absolute;
  bottom: -50px;
  right: 0;
  opacity: 0.3;
  width: 300px;
}