<div class="custom-container mt-4 mt-md-2">
    <div class="row my-3 my-md-0">
        <div class="col-md-5 my-auto me">
            <div class="d-flex justify-content-center">
                <img class="avatar" src="../../../assets/avatar.gif" alt="avatar">
            </div>
        </div>
        <div class="col-md-7 my-auto text">
            <div class="bodyText">
                <b style="color:powderblue;">|</b> Hello,
            </div>
            <div class="bodyText ml-4">
                I am a Front-End Developer with a passion for code and design. Building websites with a clean UI/UX is an important aspect to any project of mine. Thank you for visiting!
            </div>
        </div>
    </div>
    
    <!--mobile-->
    <div class="d-block d-md-none" style="visibility:hidden;" *ngIf="!two">
        <div class="row mt-md-2">
            <div class="d-flex d-md-none col-md-4 justify-content-center my-3 text">
                <img class="rocket" src="../../../assets/launch.png" alt="rocket">
            </div>
            <div class="col-md-8 bodyText my-auto me">
                <div class="bodyText">
                    <b style="color:powderblue;">|</b> Mission Statement
                </div>
                <div class="bodyText ml-4">
                    "As a developer I will continue to improve my technical skills, learn from my mistakes, and stay motivated with all my present and future projects."
                </div>
            </div>
            <div class="d-none d-md-flex col-md-4 justify-content-center my-md-auto text">
                <img class="rocket" src="../../../assets/launch.png" alt="rocket">
            </div>
        </div>
    </div>
    <div class="d-block d-md-none" *ngIf="two">
        <div class="row mt-md-2">
            <div class="d-flex d-md-none col-md-4 justify-content-center my-3 text">
                <img class="rocket" src="../../../assets/launch.png" alt="rocket">
            </div>
            <div class="col-md-8 bodyText my-auto me">
                <div class="bodyText">
                    <b style="color:powderblue;">|</b> Mission Statement
                </div>
                <div class="bodyText ml-4">
                    "As a developer I will continue to improve my technical skills, learn from my mistakes, and stay motivated with all my present and future projects."
                </div>
            </div>
            <div class="d-none d-md-flex col-md-4 justify-content-center my-md-auto text">
                <img class="rocket" src="../../../assets/launch.png" alt="rocket">
            </div>
        </div>
    </div>
    <!--end mobile-->
    <!--desktop-->
    <div class="d-none d-md-block">
        <div class="row mt-md-2">
            <div class="d-flex d-md-none col-md-4 justify-content-center my-3 text">
                <img class="rocket" src="../../../assets/launch.png" alt="rocket">
            </div>
            <div class="col-md-8 bodyText my-auto me">
                <div class="bodyText">
                    <b style="color:powderblue;">|</b> Mission Statement
                </div>
                <div class="bodyText ml-4">
                    "As a developer I will continue to improve my technical skills, learn from my mistakes, and stay motivated with all my present and future projects."
                </div>
            </div>
            <div class="d-none d-md-flex col-md-4 justify-content-center my-md-auto text">
                <img class="rocket" src="../../../assets/launch.png" alt="rocket">
            </div>
        </div>
    </div>
    <!--end desktop-->
    <!--mobile-->
    <div class="d-block d-md-none" style="visibility:hidden;" *ngIf="!skills">
        <div class="d-flex">
            <div class="titleText">
                <b style="color:powderblue;">|</b> Skills
            </div>
        </div>
        <div class="row d-flex justify-content-center px-md-0 py-md-3" style="background:rgba(128, 128, 128, 0.438); border:2px solid #000000;">
            <div class="col-md-1 mx-4 my-4 mx-md-0 my-md-2 icon d-flex justify-content-center" *ngFor="let language of languages">
                <img class="{{language.class}}" src="../../../assets/icons/{{language.name}}.png" alt="icon">
            </div>
            <span #projectSectionMobile class="d-block d-md-none"></span>
        </div>
    </div>
    <div class="d-block d-md-none skills pb-md-5 mt-4 mt-md-0" *ngIf="skills">
        <div class="d-flex">
            <div class="titleText">
                <b style="color:powderblue;">|</b> Skills
            </div>
        </div>
        <div class="row d-flex justify-content-center px-md-0 py-md-3" style="background:rgba(128, 128, 128, 0.438); border:2px solid #000000;">
            <div class="col-md-1 mx-4 my-4 mx-md-0 my-md-2 icon d-flex justify-content-center" *ngFor="let language of languages">
                <img class="{{language.class}}" src="../../../assets/icons/{{language.name}}.png" alt="icon">
            </div>
            <span #projectSectionMobile class="d-block d-md-none"></span>
        </div>
    </div>
    <!--end mobile-->
    <!--desktop-->
    <div class="d-none d-md-block skills pb-md-5 mt-4 mt-md-0">
        <div class="d-flex">
            <div class="titleText">
                <b style="color:powderblue;">|</b> Skills
            </div>
        </div>
        <div class="row d-flex justify-content-center px-md-0 py-md-3" style="background:rgba(128, 128, 128, 0.438); border:2px solid #000000;">
            <div class="col-md-1 mx-4 my-4 mx-md-0 my-md-2 icon d-flex justify-content-center" *ngFor="let language of languages">
                <img class="{{language.class}}" src="../../../assets/icons/{{language.name}}.png" alt="icon">
                <span #projectSection></span>
            </div>
        </div>
    </div>
    <!--end desktop-->
</div>