<div class="custom-container">
    <div class="row">
        <div class="col-md-6">
            <div class="blog-grid">
                <div class="blog-img-ythi">
                    <div class="date">
                        <img class="icon" src="../../../assets/icons/angular.png" alt="icon">
                        <img class="html icon ml-3" src="../../../assets/icons/html.png" alt="icon">
                        <img class="icon ml-3" src="../../../assets/icons/javascript.png" alt="icon">
                        <img class="css icon ml-3" src="../../../assets/icons/css.png" alt="icon">
                        <img class="bootstrap icon ml-3" src="../../../assets/icons/bootstrap.png" alt="icon">
                        <img class="icon ml-3" src="../../../assets/icons/typescript.png" alt="icon">
                    </div>
                </div>
                <div class="blog-info">
                    <h3><a href="#">Your Time Home Inspections</a></h3>
                    <p>A website for a home inspection company that allows clients to book inspections online and learn more about the company.</p>
                    <p style="color:darkgrey;"><b>|</b> What I Learned</p>
                    <p class="ml-2">Took this opportunity to learn more about the Angular framework as well as to practice with design. Focused more on the UX to give clients a smooth experience.</p>
                    <div class="btn-bar">
                        <button class="button-50" style="color:white;">Live Demo</button>
                        <button class="ml-md-3 button-50" style="background-color:darkgrey; color:black;">Source Code</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blog-grid">
                <div class="blog-img-action">
                    <div class="date">
                        <img class="icon" src="../../../assets/icons/angular.png" alt="icon">
                        <img class="html icon ml-3" src="../../../assets/icons/html.png" alt="icon">
                        <img class="icon ml-3" src="../../../assets/icons/javascript.png" alt="icon">
                        <img class="css icon ml-3" src="../../../assets/icons/css.png" alt="icon">
                        <img class="icon ml-3" src="../../../assets/icons/scss.png" alt="icon">
                        <img class="bootstrap icon ml-3" src="../../../assets/icons/bootstrap.png" alt="icon">
                        <img class="icon ml-3" src="../../../assets/icons/typescript.png" alt="icon">
                    </div>
                </div>
                <div class="blog-info">
                    <h3><a href="#">Action 6</a></h3>
                    <p>An application with some javascript games to pass the time by when boredom hits. A call to a "bored" API is also provided to give the user ideas on what else to do.</p>
                    <p style="color:darkgrey;"><b>|</b> What I Learned</p>
                    <p class="ml-2">How to manipulate DOM elements through the Angular framework, dynamic styling, and programming. A great experience on how to create simple games.</p>
                    <div class="btn-bar">
                        <button class="button-50" style="color:white;">Live Demo</button>
                        <button class="ml-md-3 button-50" style="background-color:darkgrey; color:black;">Source Code</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blog-grid">
                <div class="blog-img-sound">
                    <div class="date">
                        <img class="icon" src="../../../assets/icons/svelte.png" alt="icon">
                        <img class="html icon ml-3" src="../../../assets/icons/html.png" alt="icon">
                        <img class="icon ml-3" src="../../../assets/icons/javascript.png" alt="icon">
                        <img class="css icon ml-3" src="../../../assets/icons/css.png" alt="icon">
                        <img class="bootstrap icon ml-3" src="../../../assets/icons/tailwind.png" alt="icon">
                    </div>
                </div>
                <div class="blog-info">
                    <h3><a href="#">Sound Box</a></h3>
                    <p>A simple application that allows users to create different kinds of sounds/beats and share their creations with others.</p>
                    <p style="color:darkgrey;"><b>|</b> What I Learned</p>
                    <p class="ml-2">BOM/DOM manipulation, event listeners, binding children to parents and a bigger dive into the tailwind styling framework. A great opportunity to see how easy Svelte makes jobs like this as well.</p>
                    <div class="btn-bar">
                        <button class="button-50" style="color:white;">Live Demo</button>
                        <button class="ml-md-3 button-50" style="background-color:darkgrey; color:black;">Source Code</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>