.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    -webkit-animation: fadeIn 3s forwards, slideDown 2s forwards;
    -moz-animation: fadeIn 3s forwards, slideDown 2s forwards;
    animation: fadeIn 3s forwards, slideDown 2s forwards;
    z-index: 2;
} 

.titleText {
    font-size: 47px;
    color: lightgrey;
    letter-spacing: 2px;
}

.bodyText {
    font-size: 32px;
    color: lightgrey;
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: gainsboro;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  width: 150px;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

.mug {
    position: absolute;
    width: 8%;
    top: 50%;
}

.icon {
    color: lightgrey;
    font-size: 60px;
}

.icon:hover {
    color: powderblue;
}

.active {
    color: powderblue;
    box-shadow: powderblue 4px 4px 0 0,#000 4px 4px 0 1px;
}

.pdf {
    width: 20px;
    height: 20px;
}

//mobile nav style
.mobile-nav {
    position:fixed;
    top: -2px;
    width: 100%;
    padding-top: 5px;
    background:rgb(73, 73, 73);
    border-bottom: 2px solid black;
    -webkit-animation: fadeOut 1s forwards, slideUp 2s forwards;
    -moz-animation: fadeOut 1s forwards, slideUp 2s forwards;
    animation: fadeOut 1s forwards, slideUp 2s forwards;
    z-index: 2
}

.fadeInNav {
    -webkit-animation: fadeIn 1s forwards, slideDown 2s forwards !important;
    -moz-animation: fadeIn 1s forwards, slideDown 2s forwards !important;
    animation: fadeIn 1s forwards, slideDown 2s forwards !important;
}

.hiddenNav {
    visibility: hidden;
}

.nav-link {
    color: lightgrey;
    font-size: 34px;
    padding: 18px;
    background:black;
    border-right: 2px solid rgb(143, 143, 143);
    border-left: 2px solid rgb(143, 143, 143);
    border-bottom: 2px solid rgb(143, 143, 143);
}

.aboutMe {
    border-top: 2px solid rgb(143, 143, 143);
}
//end of mobile nav style

//slides down from the top
@-webkit-keyframes slideDown {
    0% {
      transform: translateY(-900px);
    }
    100% {
      transform: translateY(0);
    }
}

@-moz-keyframes slideDown {
    0% {
      transform: translateY(-900px);
    }
    100% {
      transform: translateY(0);
    }

}

@keyframes slideDown {
    0% {
      transform: translateY(-900px);
    }
    100% {
      transform: translateY(0);
    }
}

//slides up from the bottom
@-webkit-keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-900px);
    }
}

@-moz-keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-900px);
    }

}

@keyframes slideUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-900px);
    }
}

//slides from the right
@-webkit-keyframes slideInRight {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }

}

@keyframes slideInRight {
    0% {
      transform: translateX(900px);
    }
    100% {
      transform: translateX(0);
    }
}

//fades in
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

//fades out
@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@media (min-width: 576px) {
    .custom-container {
        width: 540px;
    }
}

@media (min-width: 768px) {

    .titleText {
        font-size: 50px;
        color: lightgrey;
        letter-spacing: 2px;
    }

    .bodyText {
        font-size: 32px;
        color: lightgrey;
    }

    .icon {
        font-size: 60px;
    }

    .button-50 {
        padding: 10px 0px;
        width: 115px;
    }

    .custom-container {
        width: 720px;
    }

}

@media (min-width: 992px) {
    .custom-container {
        width: auto;
    }

    .titleText {
        font-size: 50px;
        color: lightgrey;
        letter-spacing: 2px;
    }

    .button-50 {
        font-size: 25px;
        padding: 13px 5px;
        width: 120px;
    }

    .socials {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 5px;
        z-index: 3;
        -webkit-animation: fadeIn 3s forwards, slideInRight 2s forwards;
        -moz-animation: fadeIn 3s forwards, slideInRight 2s forwards;
        animation: fadeIn 3s forwards, slideInRight 2s forwards;
        background:rgba(49, 49, 49, 0.900);
        border-top-left-radius: 20px;
    }

    .navigation {
        width: 100%;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        transition: 0.4s;
        z-index: 2;
    }

    .navMorph {
        background:rgba(49, 49, 49, 0.900);
    }

    .mobile-nav {
        display: none;
    }

    .body {
        padding-top: 120px;
    }
}


@media (min-width: 1061px) {

    .titleText {
        font-size: 55px;
        color: lightgrey;
        letter-spacing: 2px;
    }

    .button-50 {
        font-size: 28px;
        padding: 13px 5px;
        width: 130px;
    }

    .socials {
        padding: 10px;
    }

}

@media (min-width: 1700px) {

    .titleText {
        font-size: 70px;
        color: lightgrey;
        letter-spacing: 2px;
    }

    .button-50 {
        font-size: 35px;
        width: 155px;
        padding: 20px 10px;
    }

    .body {
        padding-top: 135px;
    }

}

@media (min-width: 2000px) {

    .titleText {
        font-size: 100px;
        color: lightgrey;
        letter-spacing: 2px;
    }

    .icon {
        font-size: 75px;
    }

    .button-50 {
        font-size: 39px;
        width: 250px;
        padding: 20px 58px;
    }

    .navigation {
        position: fixed;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    .body {
        padding-top: 165px;
    }

}