<div class="custom-container my-1 my-md-3">
    <div class="text-center">
        <a href="">
            <i class="icon fa fa-github-square m-2"></i>
        </a>
        <a href="">
            <i class="icon fa fa-linkedin-square m-2"></i>
        </a>
    </div>
    <div class="titleText text-center">
        Rogelio G. Sandoval III
    </div>
    <div class="text-center my-3">
        <button routerLink="/home" class="button-50 mx-2 mx-md-3 my-2 my-md-0" role="button" [ngClass]="{active: homeActive}" (click)="home()">About Me</button>
        <button routerLink="/projects" class="button-50 mx-2 mx-md-3 my-2 my-md-0" role="button" [ngClass]="{active: projectsActive}" (click)="projects()">Projects</button>
        <button class="button-50 mx-2 mx-md-3 my-2 my-md-0" role="button" [ngClass]="{active: contactActive}" (click)="contact()">Contact</button>
        <a href="../assets/Rogelio_Sandoval_Resume.pdf" target="_blank">
            <button class="button-50 mx-2 mx-md-3 my-2 my-md-0" role="button" style="background:powderblue; color:black">Resume</button>
        </a>
    </div>
</div>
<router-outlet></router-outlet>