@import "src/variables.scss";
@import 'include-media';

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255, 1) 0%, rgb(225, 244, 254) 90%);
  height: 700px;
  padding: 50px 50px 0 50px;

  @include media('<desktop') {
    padding: 35px 25px;
  }

  @include media('<tablet') {
    padding: 25px;
  }
}

.sub-container {
  width: 1000px;

  @include media('<desktop') {
    width: 100%;
  }
}

.navbar {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 60px;
  flex-wrap: wrap;

  img {
    width: 150px;
    border-radius: 20px;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.495);

    @include media('<desktop') {
      width: 130px;
    }

    @include media('<tablet') {
      width: 100px;
    }
  }

  @include media('<desktop') {
    margin-bottom: 30px;
  }

  @include media('<tablet') {
    align-items: flex-start;
  }
}

.mobile-nav-title {
  font-size: 0.9rem;
  font-weight: bold;
}

.navbar-description {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include media('<desktop') {
    gap: 20px;
  }

  @include media('<tablet') {
    gap: 15px;
  }
}

.nav-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;

  @include media('<tablet') {
    flex-direction: column;
  }
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 600;
  color: gray;
  text-transform: uppercase;

  &:hover {
    color: royalblue;
    cursor: pointer;
  }

  @include media('<desktop') {
    font-size: 1rem;
  }

  @include media('<tablet') {
    font-size: 0.9rem;
  }
}

.name {
  font-size: 2rem;
  color: black;

  &:before {
    display: inline-block;
    content: '';
    height: 23px;
    width: 6px;
    background-color: royalblue;
  }

  @include media('<desktop') {
    font-size: 1.6rem;

    &:before {
      height: 18px;
      width: 4px;
    }
  }

  @include media('<tablet') {
    font-size: 1.4rem;

    &:before {
      height: 15px;
      width: 4px;
    }
  }
}

.main-view {
  margin-bottom: 100px;

  @include media('<desktop') {
    margin-bottom: 50px;
  }
}

.footer {
  font-family: Rubik, sans-serif;
  font-weight: 100;
  margin-top: 50px;
  letter-spacing: 0.5px;
  margin-bottom: 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 10px;

  @include media('<tablet') {
    font-size: 0.9rem;
    margin-top: 25px;
    margin-bottom: 35px;
  }
}

.mobile-nav {
  display: none;

  @include media('<tablet') {
    display: block;
  }
}

@include media('<tablet') {
  .regular-nav {
    display: none;
  }
}