<div class="container">
  <div class="about-block">
    <div class="title">
      💻 Web & Software Developer
    </div>
    <div class="subtitle">
      I build websites and apps using <span class="firebase">Firebase</span>, <span class="angular">Angular</span>, <span class="wix">Wix</span> and <span class="more" matTooltip="Vue, Svelte, Wordpress, Squarespace, Python" aria-label="Displays a tooltip when focused or hovered over">more</span>.
    </div>
    <div class="body-text">
      I am from San Antonio, Texas and am currently open for work!
    </div>
    <div class="body-text">
      Feel free to connect with me on <a href="https://www.linkedin.com/in/rogeliosandoval/" target="_blank">LinkedIn</a> and <a href="https://github.com/rogeliosandoval" target="_blank">GitHub</a>.
    </div>
    <a href="assets/rogelio_sandoval_resume.pdf" target="_blank">
      <img src="assets/resume_clipart.webp" alt="resume_clipart" draggable="false">
    </a>
    <a href="assets/rogelio_sandoval_resume.pdf" target="_blank" class="resume-text">
      Resume
    </a>
    <div class="mobile-resume">
      <a href="assets/rogelio_sandoval_resume.pdf" target="_blank">
        <button mat-flat-button color="accent">Resume</button>
      </a>
    </div>
  </div>
</div>
