@import "src/variables.scss";
@import 'include-media';

.about-block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 3.5rem;
  background-color: white;
  border-radius: 20px;
  font-size: 22px;
  box-sizing: border-box;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.117);

  img {
    display: block;
    position: absolute;
    right: 60px;
    top: -40px;
    width: 115px;
    z-index: -1;
    transition: 0.1s linear;

    &:hover {
      cursor: pointer;
      top: -84px;
    }

    @include media('<tablet') {
      display: none;
    }
  }

  & .body-text:nth-child(4) {
    margin-bottom: 0;
  }

  @include media('<tablet') {
    padding: 1.5rem;
  }
}

.resume-text {
  position: absolute;
  top: 5px;
  right: 85px;
  font-size: 1rem;
  font-weight: bold;
  color: royalblue;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  @include media('<tablet') {
    display: none;
  }
}

.title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 35px;

  @include media('<desktop') {
    font-size: 2rem;
  }

  @include media('<tablet') {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}

.subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 20px;

  @include media('<desktop') {
    font-size: 1.3rem;
  }

  @include media('<tablet') {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.body-text {
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 20px;

  @include media('<desktop') {
    font-size: 1.2rem;
  }

  @include media('<tablet') {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}

.firebase {
  text-decoration: underline;
  text-decoration-color: orange;
}

.angular {
  text-decoration: underline;
  text-decoration-color: red;
}

.wix {
  text-decoration: underline;
  text-decoration-color: green;
}

.more {
  font-weight: 600;

  &:hover {
    cursor: pointer;
  }
}

.mobile-resume {
  display: none;
}

@include media('<tablet') {
  .mobile-resume {
    margin-top: 20px;
    display: block;

    button {
      width: 100%;
    }
  }
}
