<div class="container">
  <div class="header-container">
    <div class="page-title">
      Projects
    </div>
    <div class="page-subtitle">
      Projects I've been working on in my spare time.
    </div>
  </div>
  @for (project of projects; track project) {
    <div class="project-container">
      <div class="project-logo"
        [class.project-logo-invert]="project.invert === true">
        <img attr.src="assets/logos/{{project.logoURL}}" alt="project-logo" draggable="false">
      </div>
      <div class="info"
        [class.info-invert]="project.invert === true">
        <div class="info-title">
          {{ project.title }}
        </div>
        <div class="info-description">
          {{ project.description }}
        </div>
        <div class="info-buttons">
          <button mat-raised-button color="accent" routerLink="{{project.routeURL}}">Learn More</button>
          <a href="{{project.demoURL}}" target="_blank">
            <button mat-raised-button color="warn">Live Site</button>
          </a>
        </div>
      </div>
      <img class="project-preview"
        [class.project-preview-invert]="project.invert === true" 
        src="assets/projects/{{project.gifURL}}.gif" 
        alt="{{project.logoURL}}" draggable="false">
    </div>
  }
  <div class="page-subtitle">
    Check out my <a href="https://github.com/rogeliosandoval" target="_blank">GitHub</a> for more projects!
  </div>
</div>