@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$blue-palette, 500);
$my-accent: mat.define-palette(mat.$blue-grey-palette, A400, A100, A400);
$my-typography: mat.define-typography-config();

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
  typography: $my-typography,
));

@include mat.all-component-themes($my-theme);

* {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  // font-weight: 100;
  // font-style: normal;
}

.mat-mdc-snack-bar-action {
  transform: scale(1.3);
}